html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 101vh;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
}

header a {
    color: #ffffff;
    padding: 1em;
    display: block;
}

header a:hover {
    background-color: #ffffff;
    color: purple;
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.App > .background {
    position: absolute;
    width: 100%;
    height: 50vh;
    min-height: 400px;
    background-color: purple;
}

.App > .inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    max-width: 1200px;
margin: 0 auto;
padding: 1em;
}

main {

}

footer {
  background-color: black;
  color: white;
  padding: 1em;
  margin-top: 5em;
}

footer a {
    color: #ffffff;
}

.card {
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 5px 5px 10px
#00000012;
border: 1px solid
#f7f7f7;
}


/* ========================= */
/* START PAGE */
/* ========================= */

.start .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
align-items: center;
margin: -2em;
}

.start .cards .card {
    /* flex: 1 1 50%; */
    margin: 2em;
max-width: 500px;
padding: 2em;
box-sizing: border-box;
}
