html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    color: #ffffff;
    padding: 1em;
    display: block;
}

header a:hover {
    background-color: #ffffff;
    color: purple;
}


#navigation {

}

#navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0 0 0;
  list-style: none;
}

.App > .background {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: purple;
}

.App > .inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    max-width: 1200px;
margin: 0 auto;
}

main {

}

footer {
  background-color: black;
  color: white;
  padding: 1em;
}

footer a {
    color: #ffffff;
}
